.menu-button:hover {
    scale: 1.1 1.1;
}

.unity-base-field {
}

.unity-base-slider {
}

.unity-base-slider--horizontal {
}

.unity-slider {
}

.unity-slider__tracker {
    width: 569%;
}

#VisualElement > #GameName > .unity-image > #GameName {
}

Slider VisualElement {
}

Slider #unity-tracker {
    height: 29px;
    top: 20px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.04);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

Slider #unity-dragger {
    height: 44px;
    top: 21px;
    background-color: rgb(72, 64, 64);
}

.unity-base-slider__fill {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(132, 126, 135);
}

.white-text {
    color: rgb(255, 255, 255);
}

.bottom_Sheet {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-image: url("project://database/Assets/UI/NewUIHud/Icons_menu/BarSolidPx2.png?fileID=2800000&guid=ed836dca50e74d84d9bf9099e1488c50&type=3#BarSolidPx2");
    flex-direction: row;
    justify-content: space-evenly;
    translate: 0 76%;
    transition-duration: 1s;
    transition-timing-function: ease-in-bounce;
}

.bottom_Sheet--UP {
    translate: 0 0%;
}

.bottomsheet {
}

.bottom_Sheet_Up {
    translate: 0 0%;
}

.scrim {
    flex-grow: 1;
    color: rgb(88, 88, 88);
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 1s;
}

.scrim_fadein {
    background-color: rgba(0, 0, 0, 0.67);
}

.StartOn {
    opacity: 1;
    margin-left: 4px;
    margin-bottom: 2px;
    top: 0;
    align-self: center;
    width: 100%;
    position: absolute;
    left: auto;
    transform-origin: left top;
    rotate: 0;
    display: flex;
    visibility: visible;
    overflow: visible;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    font-size: 100%;
    height: 87%;
    min-height: auto;
    flex-direction: column;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/IndieFlower-Regular.ttf?fileID=12800000&guid=2f697eda27e4046449b0b1d22608c683&type=3#IndieFlower-Regular");
    -unity-font-style: bold;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(82, 51, 36);
    color: rgb(69, 40, 61);
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

.starOff {
    translate: 0 -101%;
}

.close_menu_off {
    font-size: 90%;
    translate: -110% 0%;
    position: absolute;
    top: 40%;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5%;
    -unity-font-definition: url("project://database/Assets/TRAFFIC6.TTF?fileID=12800000&guid=f07357d919f588b48b520990911ee828&type=3#TRAFFIC6");
    color: rgb(26, 18, 10);
    -unity-font-style: bold;
    -unity-text-outline-width: 5px;
    background-color: rgb(226, 217, 201);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(26, 18, 10);
    border-right-color: rgb(26, 18, 10);
    border-top-color: rgb(26, 18, 10);
    border-bottom-color: rgb(26, 18, 10);
    transition-duration: 1s;
    transition-timing-function: linear;
}

.close_menu_on {
    translate: 195% 0%;
    transition-timing-function: linear;
    transition-duration: 1s;
}

.select_trinked_off {
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    height: 100%;
    transition-timing-function: linear;
    transition-duration: 2s;
    translate: 100% 0%;
}

.select_triked_on {
    translate: 0% 0%;
    transition-duration: 0.2s;
}
