.bulletDisplay {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 60px;
    height: 66px;
}

.shitBullet {
    background-color: rgba(245, 245, 245, 0);
    background-image: url("project://database/Assets/Sprites/BulletButtons/BulletRenderedCrushed.png?fileID=2800000&guid=751336ed3179f0d4bbaebf3cc7a4c214&type=3#BulletRenderedCrushed");
}

.goodBullet {
    background-color: rgb(249, 213, 3);
}

.bulletButton {
    flex-direction: row;
    width: 57px;
    height: 52px;
}

.epicBullet {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("project://database/Assets/Sprites/BulletButtons/EpicBulletBitCrushed.png?fileID=2800000&guid=bb84194fb8034df4d93f0100f85d782b&type=3#EpicBulletBitCrushed");
}

.zombieSpot {
    background-color: rgb(163, 163, 163);
    -unity-background-scale-mode: stretch-to-fill;
    border-top-width: 30px;
    border-right-width: 30px;
    border-bottom-width: 30px;
    border-left-width: 30px;
}

.zombieSpotOccupied {
    background-color: rgb(13, 101, 0);
}

.aimed {
    scale: 0.5 0.5;
}

.used {
    scale: 0.5 0.5;
}
